/*Layout *******************/

@font-face {
    font-family: "Lego Brix";
    src: url("../tipografia/LEGOBRIX.woff");
}

/* Animação de digitação */
@keyframes typing {
    from { width: 0; }
    to { width: 100%; }
}

/* Animação do cursor piscando */
@keyframes blink-caret {
    0% { border-color: transparent; }
    50% { border-color: white; }
    100% { border-color: transparent; }
}
.language-toggle-container {
    display: flex;
    align-items: center;
    justify-content: right;
}

.language-label {
    margin: 0 10px;
    font-size: 10px;
    color: #dcd1df;
}

.language-toggle {
    position: relative;
    width: 35px;
    height: 27px;
}

.language-toggle-checkbox {
    opacity: 0; /* Oculta a checkbox real */
    width: 0;
    height: 0;
}

.language-toggle-label {
    cursor: pointer;
    background-color: #5f85ff;
    border-radius: 50px; /* Canto arredondado para a barra */
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 5px;
    transition: background-color 0.3s;
    margin-top: -11px;
}

.language-toggle-ball {
    position: absolute;
    top: 33%;
    left: -1px;
    width: 15px; /* Tamanho da bolinha */
    height: 15px;
    background-color: white;
    border-radius: 50%; /* Bolinha arredondada */
    transition: transform 0.3s;
}

.language-toggle-checkbox:checked + .language-toggle-label {
    background-color: #cb9ed4; /* Cor da barra quando ativado */
}

.language-toggle-checkbox:checked + .language-toggle-label .language-toggle-ball {
    transform: translateX(30px); /* Move a bolinha para a direita */
}
/*fonte personalizada */
body {
    font-family: 'Poppins', sans-serif;
    background: linear-gradient(to right, #0a0012f5, #0a0012); 
    color: #FFFFFF; 
    margin: 0;
    padding: 0;
    padding-top: 50px;
}

/* Estilo para o título */
#typed-text {
    font-size: 1.8rem; 
    font-weight: 600; 
    text-align: justify; 
    text-transform: uppercase; 
    animation: typing 3s steps(30) 1s 1 normal both, blink-caret 0.75s step-end infinite; 
    overflow: hidden; 
    border-right: 4px solid #fff; 
    white-space: nowrap; 
}

/* Setinhas */
.navigation-dots {
    position: fixed;
    top: 50%;
    right: 20px;
    transform: translateY(-50%);
    display: flex;
    flex-direction: column;
    gap: 10px;
    z-index: 1000;
}
.navbar {
    background-color: transparent;
    transition: background-color 0.3s ease;
}

/* Cor ao abrir o menu hambúrguer */
.navbar.expanded {
    background: linear-gradient(135deg, #342d35, #dcaaf2f6); /* Fundo gradiente */
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.2); /* Sombra para destaque */
}

.navigation-dots .dot {
    width: 12px;
    height: 12px;
    background-color: #ccc;
    border-radius: 50%;
    cursor: pointer;
    transition: background-color 0.3s;
}

.navigation-dots .dot:hover,
.navigation-dots .dot.active {
    background-color: #9b59b6;
}

img {
    border: 1px solid rgb(0, 0, 0);
}

/* Configurações Logo*******************************/


    .navbar {
        background: linear-gradient(135deg, #291b33a4, #49245594); 
        box-shadow: 0 4px 8px rgba(225, 216, 216, 0.053); 
    }



.navbar-nav .nav-link {
    position: relative;
    color: white;
    font-weight: 600;
    text-transform: uppercase;
    transition: all 0.3s ease;
    padding-bottom: 5px;
}

.navbar-nav .nav-link:hover {
    color: #9b59b6; 
    transform: translateY(-2px); 
}

.navbar-nav .nav-link::after {
    content: "";
    position: absolute;
    left: 0;
    bottom: 0;
    width: 0;
    height: 2px;
    background-color: white;
    transition: width 0.3s ease;
}

.navbar-nav .nav-link:hover::after {
    width: 100%;
}

.navbar-brand {
    font-family: "Lego Brix";
    font-size: 20px;
    color: white;
}

.navbar-light .navbar-brand {
    color: white;
}

.navbar-toggler-icon {
    color: white;
}

a {
    color: white;
}

.d-flex.img-custom {
    text-align: center;
    justify-content: center;
}

.button-container {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%; 
}

.btn-custom {
    color: white;
    border-radius: 500px;
    padding: 10px 20px; 
    margin-top: 50px;
}

.btn-roxo {
    background: #752578;
}

.btn-roxo:hover {
    background: #9207e38a;
    color: white;
}

.align-self-center {
    color: white;
}

.d-flex {
    text-align: center;
    justify-content: center;
}

.col-md-6 {
    justify-content: center;
    padding: 30px;
}

/*********************Home****************************************************/

#home {
    height: 100vh; 

}

.section-title {
    text-align: center;
    font-size: 2.5rem;
    margin: 40px 0;
}

.card {
    transition: transform 0.3s;
}

.card:hover {
    transform: scale(1.05);
}

.paragrafo {
    font-size: 1.2rem;
}

.img-custom img {
    border-radius: 50%;
}


.card {
    height: 100%; 
}

.card-img-top {
    object-fit: cover; 
    height: 200px;
}

.btn-roxo {
    background-color: #6f42c1; 
    color: white; 
    border: none; 
}

.btn-roxo:hover {
    background-color: #5a30a4; 
}

/* Seção de título */
.section-title {
    text-align: center; 
    margin-bottom: 20px; 
    font-size: 2rem; 
}

/* Parágrafo de introdução */
.container p {
    text-align: center; 
    margin-bottom: 30px; 
    font-size: 20px;
}


/*sobre*****************************************************************************/
.clickable-image {
    transition: transform 0.3s ease, box-shadow 0.3s ease; 
    cursor: pointer;
}

/* Efeito ao clicar na imagem */
.clickable-image:active {
    transform: scale(1.05); /* Leve aumento no tamanho */
    box-shadow: 0 0 20px 5px rgba(199, 3, 238, 0.116); 
    cursor: crosshair; /* Muda o cursor para uma cruz */
}
.hoverable-image {
    transition: transform 0.3s ease; 
    cursor: pointer; 
}

.hoverable-image:hover {
    transform: translate(5px, 5px); 
}
#sobre{
    background-attachment: fixed;
}
.sobre-section {
    position: relative;
    overflow: hidden;
   
}

.particles-container {
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    z-index: -1;
}

.sobre-container {
    position: relative;
    z-index: 1;
    height: 100%; 
    display: flex;
    align-items: center; 
    justify-content: center;
}

.sobre-row {
    width: 100%;
    display: flex;
    justify-content: center; 
}

.sobre-coluna {
    display: flex;
    justify-content: center;
    align-items: center;
}

.card-text {
    background-color: rgba(24, 4, 39, 0.178);
    border-radius: 15px;
    padding: 20px;
    box-shadow: 0 4px 20px rgba(0, 0, 0, 0.991);
    color: #9b59b6;
}

#projetos .card-title {
    font-size: 1.5rem;
    font-weight: bold;
    color: #520b6e;
}

.card-title {
    font-size: 2.1rem;
    font-weight: bold;
    color: #d7c9dd;
}
.card-title2 {
    font-size: 2.1rem;
    font-weight: bold;
    color: #d7c9dd;
}


.toggle-button {
    background-color: #29093b;
    color: #fff;
    border: none;
    padding: 10px 20px;
    border-radius: 5px;
    cursor: pointer;
    font-size: 1rem;
}

.jornada-details {
    display: none;
    margin-top: 15px;
    color: #f4e8f6;
}

.jornada-details p {
    font-size: 1.2rem;
    line-height: 1.5;
}

.card-info {
    text-align: left;
}

.profile-image {
    width: 100%;
    border-radius: 10px;
    margin-bottom: 20px;
}

.info-text {
    font-size: 1.2rem;
    line-height: 1.5;
}

/**/

.particles-bg {
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    z-index: -1;
}

.container {
    position: relative;
    z-index: 1;
}

.btn-show {
    background-color: #29093b;
    color: rgb(255, 251, 251);
    border: none;
    padding: 10px 20px;
    border-radius: 5px;
    cursor: pointer;
    font-size: 1rem;
}

.img-text {
    text-align: left;
}

.perfil-img {
    width: 350px;
    height: auto;
    border-radius: 0px;
    margin-bottom: 20px;
}

.perfil1 {
    font-size: 1.2rem;
    line-height: 1.5;
}

.jornada {
    justify-content: center;
    justify-items: center; 
    font-size: 1.2rem; 
    line-height: 1.5; 
}

.textarea {
    color: #201f20;
}

.redes-sociais {
    display: block; 
    text-align: center;
    margin-bottom: 10px;
}

/*-----------Projetos***************************************************/
.card-body {
    box-shadow: 0 4px 6px rgb(23, 1, 26), 0 1px 3px rgba(3, 0, 3, 0.06); 
    transition: transform 0.3s ease, box-shadow 0.3s ease; 
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center; 
    height: 100%; 
    margin-top: 5px;
}

/* Efeito de hover nos cards */
.card:hover {
    box-shadow: 0 10px 15px rgba(0, 0, 0, 0.2), 0 4px 6px rgba(0, 0, 0, 0.1); /* Aumenta a sombra */
    transform: translateY(-5px); /* Elevação visual ao passar o mouse */
}

#projetos {
   
    color: white; 
    padding: 20px;  
}

.btn-roxo {
    background-color: #800080; 
    color: white;
    border: none;
}

.btn-roxo:hover {
    background-color: #a020a0; 
}



#projetos {
    flex-direction: column; 
    justify-content: center; 
    align-items: center; 
    padding: 20px; 
    box-sizing: border-box; 
}

.card-text {
    color: #29093b;
    text-align: justify;
    margin-bottom: 1rem;
}


.card-body {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center; 
    height: 100%; 
    margin-top: 5px;
}



/*******************Habilidades*****************************/

#habilidades {
    padding: 60px 20px;  
    background-color: #1001183a; 
    margin-bottom: 60px;
    
}

#habilidades .section-title {
    font-size: 2rem;
    margin-bottom: 20px;
    color: #e8dbdb;
text-align: justify;
}

#habilidades p {
    color: #fffefe;
    margin-bottom: 40px;
    text-align: justify;
}

.skill-icon {
    width: 80px; 
    height: auto;
    margin-bottom: 10px;
    transition: transform 0.3s ease;
}

.skill-icon:hover {
    transform: scale(1.2); 
}

/***********contatos**********************************************************/
.text-center {
    color: #FFFFFF;
}

.contact-page {
    padding: 40px 15px;
    border-radius: 8px;
    background-color: #752578;
}

.contact-form {
    background: rgba(216, 206, 220, 0.946); 
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 4px 8px rgba(255, 253, 253, 0.579);
}

.contact-form .form-label {
    font-weight: bold;
    color: #dccce1;
}

.contact-form .form-control {
    background: #fffafa; 
    color: #000000; 
    border: 1px solid #ffffff; 
}

.contact-form .form-control:focus {
    border-color: #6131a1;
    box-shadow: 0 0 5px #a4c0ce;
}

.social-links .btn {
    margin: 10px 5px;
    padding: 10px 20px;
    font-size: 16px;
    border-radius: 8px;
    text-transform: uppercase;
    border: 2px solid transparent;
}

.social-links .btn-outline-light {
    color: #ffffff;
    border-color: #ffffff;
}

.social-links .btn-outline-light:hover {
    background: #ffffff;
    color: #0a0012;
}

.social-links .btn i {
    margin-right: 5px;
}
#contact {
    margin-bottom: 30px;
}
/*Rodapé*************************************************/

footer {
    position: relative; 
    margin-top: 0; 
    padding: 20px 0;
    background-color: rgba(170, 114, 192, 0.525);
    justify-content: center;
    text-align: center;
    background-attachment: fixed;
    
}
.custom-footer {
    background: linear-gradient(135deg, #342d356b, #dcaaf26a); 
    color: #ffffff; 
    padding: 20px 0;
    font-family: 'Poppins', sans-serif;
    justify-content: center;
    text-align: center;
}

.custom-footer p {
    margin: 0;
    font-size: 14px;
    text-align: center;
    justify-content: center;
}

.custom-footer .social-icon {
    margin: 0 10px;
    color: #ffffff;
    font-size: 24px;
    text-decoration: none;
    transition: transform 0.3s ease, color 0.3s ease;
}

.custom-footer .social-icon.linkedin:hover {
    color: #7600b5; 
    transform: scale(1.2); 
}

.custom-footer .social-icon.github:hover {
    color: #333333; 
    transform: scale(1.2);
}

.custom-footer .social-icon.instagram:hover {
    color: #e4405f; 
    transform: scale(1.2);
}

.custom-footer .row {
    align-items: center;
}

.row {
    row-gap: 10px;
}

/*RESPONSIVIDADE*****************************************/

@media only screen and (max-width: 300px) {
    
#home .container {
        line-height: 1.2rem;
        
  }
  img {
    width: 198px; 
} 

    #typed-text {
        font-size: 1.1rem; /* Ajuste para telas muito pequenas */
    }
    #projetos {
        height: auto; 
        padding: 60px 0; }

 
    .col-md-6 {
    
        padding: 10px}
    
  .paragrafo {
   font-size: 0.8rem;
  }
  #home {
    height: auto;
  }

  .container p {
    font-size: 12px;
    text-align: justify;
  }

 
}



@media only screen and (min-width: 301px) and (max-width: 375px) {
    
        #home  .container{
                line-height: 1.2rem;
                
          }

         img  {
            width: 250px;
         } 
            #typed-text {
                font-size: 1.5rem; 
                margin-top: 10px;
                text-align: center;
            }
            #projetos {
                height: auto; 
                padding: 60px 0; 
            }
            .col-md-6 {
    
                padding: 10px}

                .redes-sociais {
                    margin-top: 50px;
                }
            
.container p{
    font-size: 12px;
    text-align: justify;
}
.btn-roxo {
    margin-top: 10px;

}
        }

            
            

@media only screen and (min-width: 376px) and (max-width: 450px) {
    
          #home .container{
                line-height: 0.5rem;
                
          }
          img {
            width: 250px; 
        }
            #typed-text {
                font-size: 1.5rem; 
            }
            #projetos {
                height: auto; 
                padding: 60px 0; 
            } 
            .col-md-6 {
    
                padding: 30px}
                .redes-sociais {
                    margin-top: 50px;
                }
            .paragrafo {
                font-size: 0.9rem;
            }

            .container p {
                text-align: center;
                margin-bottom: 33px;
                font-size: 15px; 
            line-height: 13px;}

                #typed-text {
                    font-size: 1.7rem;
                    text-align: center;
                }
        }
            
            
              
           

/* Extra small devices (phones, 600px and down) */
@media only screen and (min-width: 451px) and (max-width: 600px) {

        .card {
            margin: 10px auto; 
            width: 90%; 
        }
        #sobre .img .align-self-center {
        
            padding: -14px; }
            
            
            img {
                width: 280px;
                justify-content: center;
            }
            .redes-sociais {
                margin-top: 25px;
            }

            #home {
                height: auto;
            }
            .container p {
                text-align: center;
                margin-bottom: 33px;
                font-size: 18px; 
            line-height: 18px;}

                #typed-text {
                    font-size: 2rem;
                    text-align: center;
                }
 
              
            }
        


/* Small devices (portrait tablets and large phones, 600px and up) */
@media only screen and (min-width: 601px) and (max-width: 767px) {


    .redes-sociais {
        margin-top: 20px;
    }
    .img {
        width: 450px;
    }
  
    #home {
        height: auto;
    }
    #typed-text {
        font-size: 2.8rem; 
    }
    .sobre-container {
        margin-bottom: 50px;
    }
    .paragrafo {
        font-size: 1.5rem;
    }

    .col-sm-6 {
        -ms-flex: 0 0 50%;
        flex: 0 0 50%;
        max-width: 50%;
        margin-top: 9px;
    }
        #projetos .row {
            margin-right: -40px;
    margin-left: -40px;
        }
      
   }

/* Medium devices (landscape tablets, 768px and up) */
@media (min-width: 768px) and (max-width: 991px) {
 

    #typed-text {
        font-size: 3rem;
    }
    .container p {
        margin-bottom: 0px;}
    
    .paragrafo {
        font-size: 1.6rem;
    }
     
     #home .row {
        flex-direction: column; 
        align-items: center; 
        gap: 20px; 
        text-align: center; }

    #home .col-md-6 {
        max-width: 100%; 
        padding: 35px;
    }

 img {
        width: 350px; 
        height: auto;
    }

    .redes-sociais {
        margin-top: 180px;
    }

    #projetos .row {
        margin-right: -21px;
        margin-left: -21px;
    }

  #home .container {
    padding: 80px;
   
  }
  #home {
    height: auto;
  }
  
}



/* Large devices (laptops/desktops, 992px and up) */
@media only screen and (min-width: 992px) {

img {
width: 300px; 
} 
#typed-text {
    font-size: 2rem;
}   .container p {
    font-size: 15px;
    text-align: justify;
}


}


 
 /*Extra large devices (large laptops and desktops, 1200px and up)*/ 
@media only screen and (min-width: 993px) and (max-width: 1200px){

   #home .container {
        line-height: 3.7rem;
        
  }
  img {
    width: 350px; } 
    #typed-text {
        font-size: 2rem; 
    }
   
    #home {
      
       
        padding: 70px;
    }

    #typed-text {
        font-size: 2.7rem;
    }
    .container p {
        font-size: 15px;
    }
    }


    @media only screen and (min-width: 1201px) and (max-width: 1280px) {
     
    
      #typed-text {
        font-size: 3rem;
    }
    img {
        width: 400px; } 

        #home {
            line-height: 5rem;
          }
          .col-md-6 {
           
            padding: 120px;
        }
        .container p {
            font-size: 15px;
        }
    }


    @media only screen and (min-width: 1281px)  {

        #home {
            line-height: 5.5rem;
          }
          .col-md-6 {
           
            padding: 120px;
        }

      #sobre .container{
        line-height: 3rem;
        
  }
      #typed-text {
        font-size: 3rem;
    }
    img{
width: 400px;
    }

    .d-flex{ text-align: justify;
       text-align: justify;
    }

    #home {
        line-height: 7.5rem;
      }
      .col-md-6 {
       
        padding: 80px;
    }
    }

  


    @media only screen and (min-width: 540px) and (max-width: 720px)
    { 
      

#home .col-md-6 {
    padding: 24px;
} 
img {
    width: 280px;
}
}

    @media only screen and (min-width: 640px) and (max-width: 360px)
    { 
        #home {
        height: auto;
    }
    
    }

    @media only screen and (min-width: 1024px) and (max-width: 1366px)
    { 
        #home {
        height: auto;
    }
    
    }


